<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="../Assets/js/bootstrap.min.js"></script>
<script src="../Assets/js/jquery-1.11.1.min.js"></script>
</head>

<body>
<h1>Admin Page 1<h1>

<div class="col-lg-4 offset-lg-4 well">
<div class="row">
<form>
<a href="/addUser"><button type="button" class="btn btn-lg btn-info" >Add User</button></a>	

<a href="/patientInfo"><button type="button" class="btn btn-lg btn-info">Patient Info</button></a>
</form>
</div>					
</div>
</body>
</html>