<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-1.11.1.min.js"></script>
</head>

<body>
<h1>Doctor Page 1<h1>

<div class="col-lg-8 well">
<div class="row">
<form>
<a href="/patientRegform"><button type="button" class="btn btn-lg btn-info" >Add Patient</button></a>	

<a href="/patientInfo"><button type="button" class="btn btn-lg btn-info">Patient Info</button></a>				
</form>
</div>					
</div>
</body>
</html>