<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
<link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet" id="bootstrap-css">
<script src="../Assets/js/bootstrap.min.js"></script>
<script src="../Assets/js/jquery-1.11.1.min.js"></script>
</head>

<body>
<h1>Doctor Page 1<h1>

<div class="col-lg-8 well">
<div class="row">
<form>
<a href="/doctorPage1"><button type="button" class="btn btn-lg btn-info" >Doctor Login</button></a>	

<a href="/adminPage1"><button type="button" class="btn btn-lg btn-info">Admin Login</button></a>				
</form>
</div>					
</div>
</body>
</html>